# Dependências Globais e Logs
node_modules/
.pnpm-store/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Arquivos de Ambiente e Credenciais
.env
.env.local
.env.*.local

# Sistemas Operacionais e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker volumes locais (se houver persistência na raiz)
volumes/